* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    min-width: 1100px;
}
/* window height: 600px;*/
section {
    width: 1100px;
    margin: 0 auto;
}
a {
    transition: 2s ease-out;
}
header {
    width: 100%;
    background: #efefef;
    position: sticky;
    top: -1px;
    transition: 0.5s ease-in;    
}
header.large {
    padding: 20px 0;
}
header.small {
    padding: 0;
}
header>section {
    width: 100%;
    background: #fff;
}
header>section>div {
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin: 0 auto;
}
header>section>div>a {
    display: block;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 10px 30px;
    border-bottom: 2px solid #000;
    text-align: center;
    width: 100px;
}
header>section>div>a:hover {
    background: #999;
    color: #fff;
}
main {
    padding-top: 0px;
    background: #999;
    overflow: hidden;
}
main>section {
    box-shadow: 20px 20px 50px #333, -20px 20px 50px #333, 20px -20px 50px #333, -20px -20px 50px #333;
}
main>section>div {
    height: 650px;
}
main>section>div>a {
    text-decoration: none;
    color: #777;
    display: block;
    transform-origin: center center;
    transform: rotate(-90deg);
    font-size: 3em;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}
main>section>div:nth-child(1)>a.arrow {
    margin-top: 350px;
}
#tabs>div:last-child>main>section>div:nth-child(2), #tabs>div:last-child>main>section>div:nth-child(3) {
    overflow: hidden;
}
main>section>div:nth-child(2)>a.arrow:first-of-type {
    margin-top: 20px;
}
main>section>div:nth-child(2)>a.arrow:last-of-type {
    margin-top: 150px;
}
main>section>div:nth-child(3)>a.arrow {
    margin-top: 30px;
}
main>section>div:nth-child(2)>a:first-of-type {
    transform: rotate(90deg);
}
main>section>div:nth-child(3)>a:first-of-type {
    transform: rotate(90deg);
}
#tabs>div:last-child>main>section>div:nth-child(1)>h1 {
    padding-top: 0;
}
#tabs>div:last-child>main>section>div:nth-child(1)>img {
    margin-top: 0; 
}
main>section>div:nth-child(1) {
    background: #fff;
}
main>section>div:nth-child(2) {
    background: #efefef;
    color: #111;
    height: 325px;
}
main>section>div:nth-child(3) {
    background: #171717;
    color: #fff;
    height: 325px;
}
main>section>div:nth-child(1)>img {
    padding: 10px;
    float: left;
    background: #efefef;
    border-radius: 10px;
    width: 300px;
    height: auto;
    margin: 120px 30px;
}
main>section>div:nth-child(1)>h1 {
    padding-top: 120px;
    font-size: 3em;
}
main>section>div:nth-child(1)>h1+p {
    color: #333;
    font-style: italic;
}
main>section>div:nth-child(1)>h1+p+p {
    font-size: 1.1em;
}
main>section>div:nth-child(2)>h2 {
    font-size: 2.5em;
    padding: 10px 20px 20px;
    text-align: center;
}
main>section>div:nth-child(2)>p {
    padding: 20px;
}
main>section>div:nth-child(2)>p>span {
    font-weight: bold;
}
main>section>div:nth-child(3)>h2 {
    font-size: 2.5em;
    padding: 60px 20px 20px;
    text-align: center;
}
main>section>div:nth-child(3)>div {
    display: flex;
    justify-content: space-around;
}
main>section>div:nth-child(3)>div>p {
    margin: 20px;
    padding-left: 20px;
}
#tabs>div:nth-child(3)>main>section>div:nth-child(2) {
    height: 650px;
}
#tabs>div:nth-child(3)>main>section>div:nth-child(3) {
    height: 650px;
}
#tabs>div:nth-child(3)>main>section>div:nth-child(3)>h2 {
    padding-top: 0px;
}
#tabs>div:nth-child(3)>main>section>div:nth-child(3)>div>p {
    margin-top: 0px;
    margin-bottom: 10px;
}    

#contacts {
    overflow: hidden;
    background: #efefef;
    width: 70%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px; 
}
#contacts>div {
    width: 90%;
    margin: 0 auto;
}
#contacts>div>h3 {
    color: #111;
}
#contacts>div>h3>span {
    color: #666;
}
#contacts>div>div {
    height: 30px;
    clear: both;
}
s#contacts>div>div:last-child {
    height: 270px;
}
#contacts>div>div>span {
    width: 135px;
    color: rgb(0, 140, 196);
    font-weight: bold;
    float: left;
}
#contacts>div>div>input {
    padding: 5px 0px 5px 5px;
    border: 1px solid rgb(209, 209, 209);
    width: 280px;
    color: rgb(112, 99, 91);
}
#contacts>div>div textarea {
    padding: 5px 0px 5px 5px;
    border: 1px solid rgb(209, 209, 209);
    width: 505px;
    height: 250px;
    color: rgb(112, 99, 91);
}
#contacts>div>p {
    text-align: right;
    margin-top: 235px;
    width: 645px;
    clear: both;
}



.tab {
    border: 1px solid #777;
    display: inline-block;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
}
#uncovered {
    background: #fff;
    overflow: hidden;
    z-index: 5;
}
.tab:nth-child(2) {
    left: 75px;
}
.tabContent {
    margin-top: 33.6px;
}
#tabs .hide {
    display: none;
}
#tabs .show  {
    display: block;
}






footer {
    background: #000;
    height: 75px;
    color: #fff;
}
footer>p {
    text-align: center;
    padding-top: 25px;
}