* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    min-width: 1100px;
}
/* window height: 600px;*/
section {
    width: 1100px;
    margin: 0 auto;
}
a {
    transition: 2s ease-out;
}
header {
    width: 100%;
    background: #efefef;
    position: sticky;
    top: -1px;
    transition: 0.5s ease-out;    
}
header.large {
    padding: 20px 0;
}
header.small {
    padding: 0;
}
header>section {
    width: 100%;
    background: #fff;
}
header>section>div {
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin: 0 auto;
}
header>section>div>a {
    display: block;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 10px 30px;
    border-bottom: 2px solid #000;
    text-align: center;
    width: 100px;
}
header>section>div>a:hover {
    background: #999;
    color: #fff;
}
main {
    padding-top: 0px;
    background: #999;
}
main>section {
    box-shadow: 20px 20px 50px #333, -20px 20px 50px #333, 20px -20px 50px #333, -20px -20px 50px #333;
}
main>section>div {
    height: 650px;
}
main>section>div:nth-child(1) {
    background: #fff;
}
main>section>div:nth-child(2) {
    background: #efefef;
    color: #111;
    height: 325px;
}
main>section>div:nth-child(3) {
    background: #171717;
    color: #fff;
    height: 325px;
}
main>section>div:nth-child(1)>img {
    padding: 10px;
    float: left;
    background: #efefef;
    border-radius: 10px;
    width: 300px;
    height: auto;
    margin: 120px 30px;
}
main>section>div:nth-child(1)>h1 {
    padding-top: 120px;
    font-size: 3em;
}
main>section>div:nth-child(1)>h1+p {
    color: #333;
    font-style: italic;
}
main>section>div:nth-child(1)>h1+p+p {
    font-size: 1.1em;
}
main>section>div:nth-child(2)>h2 {
    font-size: 2.5em;
    padding: 60px 20px 20px;
    text-align: center;
}
main>section>div:nth-child(2)>p {
    padding: 20px;
}
main>section>div:nth-child(2)>p>span {
    font-weight: bold;
}
main>section>div:nth-child(3)>h2 {
    font-size: 2.5em;
    padding: 60px 20px 20px;
    text-align: center;
}
main>section>div:nth-child(3)>div {
    display: flex;
    justify-content: space-around;
}
main>section>div:nth-child(3)>div>p {
    margin: 20px;
    padding-left: 20px;
}



.tab {
    border: 1px solid #777;
    display: inline-block;
    padding: 5px;
    margin: 0;
    cursor: pointer;
}
#tabs .hide {
    display: none;
}
#tabs .show  {
    display: block;
}






footer {
    background: #000;
    height: 75px;
    color: #fff;
}
footer>p {
    text-align: center;
    padding-top: 25px;
}